---
- name: Install Homebrew Casks
  homebrew_cask:
    name: "{{ item }}"
    state: present
  become: "{{ (homebrew_user != ansible_user_id) | bool }}"
  become_user: "{{ homebrew_user }}"
  loop:
    # macOS must-haves
    - 1password
    - 1password-cli
    - dropbox
    - firefox
    - sublime-text
    - obsidian
    # - little-snitch

    # work
    - zoom
    - slack
    # - jq

    # life
    - whatsapp

    # macOS quality of life improvements
    - alfred
    - jordanbaird-ice # open source menu bar management
    - caffeine
    - istat-menus
    - moom
    - karabiner-elements

    # dev
    - iterm2
    - itermai
    - itermbrowserplugin


    # 3d modeling & printing
    # - autodesk-fusion
    # - bambu-studio

    - vlc

    # misc
    # - protonvpn
    # - parsec

  tags:
    - homebrew
    - casks
